<div class="task-area">
  <h1>{{ currentTab }} Tasks</h1>

  <input
    (keyup.enter)="createTask()"
    [formControl]="taskTextField"
    class="new-input"
    type="text"
    placeholder="Add a new task insdie '{{ currentTab }}' category"
    [class]="
      taskTextField.errors && (taskTextField.dirty || taskTextField.touched)
        ? 'invalid'
        : 'valid'
    "
  />
  <label *ngIf="taskTextField.invalid && taskTextField.value" class="error-message" 
    >This field invalid</label
  >

  <ng-template #taskTemplate let-itemData="item">
    <label class="custom-checkbox" (click)="checkTask(itemData)">
      <input type="checkbox" [checked]="itemData.status" />
      <span class="checkmark"></span>
    </label>
    <span class="task-text">{{ itemData.text }}</span>
    <div class="task-tab">{{ itemData.tabGroup }}</div>
    <div class="delete-button">
      <img
        src="../.././assets/trash.svg"
        alt=""
        (click)="deleteTask(itemData.id)"
      />
    </div>
  </ng-template>

  <div class="task-block">
    <ul class="task-list">
      <li *ngFor="let item of displayedTasks"  class="task">
        <ng-content
          *ngTemplateOutlet="taskTemplate; context: { item: this.item }"
        >
        </ng-content>
      </li>
    </ul>
  </div>
</div>
