$checkbox-color :#b3d7ff;
$border-color : #D8D8D8;

%font-family {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #EA5959;
  display: flex;
  align-items: center;
  justify-content: center;

}

.working-area {
  max-width: 983px;
  max-height: 702px;
  width: 90%;
  height: 60%;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
}

.side-bar {
  padding: 139px 51px;
  box-sizing: border-box;
  border-right: 1px solid $border-color;
  color: #525252;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  flex-wrap: wrap;
}

.btn {
  align-self: start;
  border: none;
  background: none;
  @extend %font-family;
  font-size: 22px;
  line-height: 26px;
  color:
    #525252;
}

.active-tab {
  color: #EA5959;
}


.new-input {
  @extend %font-family;
  font-size: 18px;
  line-height: 22px;
  color: #B5B5B5;
  padding: 10px 27px 15px;
  background: #F3F3F3;
  border-radius: 8px;
  width: 95%;
  border: none;
}


.task-block {
  margin-top: 32px;
  width: 98%;
}

.task-area::-webkit-scrollbar {
  width: 1px;
}

.task-area {
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 30px 43px 0px 53px;
}

.task-list {
  padding: 0;
}

.task {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 18px;
}


.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #EA5959;
  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url(../../assets/check-mark.svg);
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: $checkbox-color;
}

.custom-checkbox:not(:disabled):active+label::before {
  background-color: $checkbox-color;
  border-color: $checkbox-color;
}

.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

.task-text {
  @extend %font-family;
  font-size: 18px;
  line-height: 22px;
  color: #5A5A5A;
}

.task-tab {
  width: 115px;
  height: 24px;
  background: #EA5959;
  border-radius: 4px;
  @extend %font-family;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.delete-button {
  flex-grow: 1;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}
