<div style="height: calc(100vh - 200px)" class="wrapper work-area-pos">
  <div class="working-area">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Print text of you task</mat-label>
        <input matInput  />
      </mat-form-field>
      <button mat-button color="primary">Add new task</button>
    </form>

    <div class="task-blocks">
        <ul>
          <li class="task-elem">
            <span class="task-number">1</span>
            <span class="task-text">Покормить кота</span>
            <img class="icon" src="../../assets/icons8-trash-48.png">
          </li>
        </ul>
    </div>

  </div>
</div>
