@use "../styles/_variables";

:host {
  flex-grow: 1;
}

.task-area {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 30px 43px 0px 53px;
}

.new-input {
  font-size: 18px;
  line-height: 22px;
  color: #b5b5b5;
  padding: 10px 27px 15px;
  background: #f3f3f3;
  border-radius: 8px;
  width: 95%;
  border: none;
}

.task-block {
  margin-top: 32px;
  width: 98%;
}

.task-area::-webkit-scrollbar {
  width: 1px;
}

.task-list {
  padding: 0;
}

.task {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 18px;
}

<<<<<<< HEAD
.checkbox-conteiner {
=======
.container {
>>>>>>> cc0887d990f07c6b952719356cc244a777d3c168
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
<<<<<<< HEAD

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  :hover input~.checkmark {
    background-color: #ccc;
  }

  input:checked~.checkmark {
    background-color: #2196F3;
  }

  input:checked~.checkmark:after {
    display: block;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
=======

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;

}

.container:hover input~.checkmark {
  background-color: #ccc;
}

.container input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
>>>>>>> cc0887d990f07c6b952719356cc244a777d3c168
}


.task-text {
  font-size: 18px;
  line-height: 22px;
  color: #5a5a5a;
}

.task-tab {
  width: 115px;
  height: 24px;
  background: #ea5959;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.delete-button {
  flex-grow: 1;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.is-invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid yellowgreen;
}
